/* FUENTES */
@font-face { /* Importo las fuentes a utilizar */
    font-family: "nevis"; /* Tipo de fuente */
    src: url("fonts/nevis.eot"); /* url */
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"), url("fonts/nevis.woff") format("woff"), 
    url("fonts/nevis.ttf") format("truetype"), url("fonts/nevis.svg") format("svg");
    font-weight: normal; /* El tamaño de texto normal, sin negritas ni nada */
    font-style: normal; /* Que el estilo de la fuente sea normal */
}

@font-face {
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg') url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/websymbols-regular-webfont.woff") 
    format("woff"), url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ESTILOS GENERALES */
* { /* A todo el elemento */
    padding: 0; /* Que no haya espacio hacia arriba ni nada */
    margin: 0; /* Que no haya espacio hacia arriba ni nada */
}

body { /* A todo el cuerpo del elemento */
    background-image: url("./../img/paven.png"); /* Ponrle un fondo a la pagina */
}

a { /* Enlaces globales a todos los enlaces */
    color: #529125; /* Color del texto */
    text-decoration: none; /* Sin nigun tipo de decoracion */
}

a:visited { /* Cuando sean visitados que cambien a este color */
    color: #529125;
}

a:hover { /* Cuando les pasemos el cursor cambien un poco de color */
    color: #285616; /* Color un poco mas verde/gris */
}

.red { /* Defino esta clase */
    color: #9b2422 !important;
}

.blue { /* Defino esta clase */
    color: #0c73f2 !important;
}

.orange { /* Defino esta clase */
    color: #d69d2a !important;
}

.icon { /* Esta clase la traemos desde las fuentes */
    font-family: icons; /* El tipo de familia de esta letra */
    float: left; /* Que se flote a la izquierda */
    margin-right: 5px; /* Margen que pongo de izquierda a derecha */
    margin-top: -2px; /* Que este un poco mas arriba el icono */
}

.clearfix { /* Limpoamos los flotantes */
    float: none; /* Que no haya nada flotando */
    clear: both; /* Limpia ambos */
}

/* FORMULARIOS */
input[type="text"], /* A todos estos campos */
input[type="email"],
input[type="password"],
select {
    border: 1px solid #c9c9c9; /* Asigno este borde suave */
    box-shadow: 0px 0px 2px inset; /* Lo ponemos un poco mas sombreado */
    background: white; /* Que el fondo dentro sea color blanco */
    padding: 1px; /* La anchura de este elemento de adentro hacia afuera-puedo eliminarla */
    padding-top: 2px; /* El espacio hacia arriba de cada elemento */
    padding-bottom: 2px; /* El espacio hacia abajo de este elemento */
    color: gray; /* El color de estos elementos es gris */
    transition: all 300ms; /* Haz la transicion en este tiempo */
}

input[type="text"]:focus, /* Esto es como un margen hacia adentro cuando elijo cualquier elemento */
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 1px solid #70b231; /* Borde hacia adentro de cada elemento input */
    color: black; /* Color del texto dentro del input */
}

input[type="button"], /* A todos los elementos de este tipo */
input[type="submit"],
input[type="reset"],
button {
    display: block; /* Que los botones se comporten como un bloque */
    border-radius: 2px; /* Que estos elementos tengan un borde redondeado minumamente */
    border: 1px solid green; /* Que los bordes de cada elemento tengan esto */
    width: 60px; /* Anchura de los botones */
    padding: 3px; /* El espacio del elemento letra de adentro hacia afuera espacio */
    color: white; /* Que su color sea blanco */
    background-color: #70b231; /* Que tengan este fondo */
    cursor: pointer; /* Que al pasar el cursor salga una manita */
}

input[type="button"]:hover, /* Al pasarle por encima al elemento */
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    box-shadow: 0px 0px 2px gray; /* Que se haga un pequeño sombreado hacia afuera */
}

input[type="button"]:active, /* Cuando le deje apretado */
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0px 0px 3px inset; /* Una sombra de la caja interior, de afuera hacia adentro */
    text-shadow: 0px 0px 0px #cccccc; /* Que tome un color blanco el texto, sombreado */
}

/* CABECERA */
#header { /* A donde tengo el logotipo */
    min-width: 1024px; /* Anchura del elemento minima */
    width: 100%; /* Anchura del 100% */
    height: 250px; /* Lo que mide de altura */
    margin: 0 auto; /* Sin margenes */
}

#header a { /* Elemento a del logo */
    text-decoration: none; /* Sin ningun tipo de decoracion */
}

#header #logotipo { /* En el header, al id logotipo */
    width: 770px; /* Una anchura del elemento */
    margin: 0px auto; /* Que no tenga ningun margen y auto para dejarlo enmedio */
    padding-top: 20px; /* Margen superior */
}

#header #logotipo img { /* Al elemeto img */
    display: block; /* Que se comporte como un bloque */
    text-align: center; /* Que su texto este centrado puedo/eliminar */
    margin: 0 auto; /* Para centrar el elemento */
    width: 140px; /* Anchura del elemento */
}

#header h1 { /* id=header, a la etiqueta h1 */
    text-align: center; /* Centramos el texto */
    font-size: 40px; /* Tamaño del texto */
    font-family: "nevis"; /* Camiamos la fuente del texto */
    text-transform: uppercase; /* Que este en mayusculas */
    letter-spacing: 4px; /* Espacio entre cada letra */
    margin-top: 10px; /* Espacio que dejamos del h1 de arriba hacia abajo */
    text-shadow: 0px 2px 1px #333333; /* Sombreado a la derecha/abajo/difuminado:hover */
    transition: all 300ms; /* El tiempo en el cual se hace la ransicion */
}

#header h1:hover { /* id=header, de los elementos h1. al pasarle el mouse */
    /* Copie primero el difuminado, del text-shadow de arriba, con la "," le asigne lo que pasa con el hover */
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231; /* Sombra derecha/abajo/arriba, color, sombra derecha/abajo/difuminado, color */
}

#header h1 a { /* Tipo Baner y el color del elemento */
    color: #70b231; /* Color del elemento */
}

/* BARRA DE NAVEGACION */
#nav { /* id nav */
    width: 100%; /* Que la linea negra mida un 100% del ancho */
    height: 40px; /* Tamaño de la linea */
    background-color: #333333; /* Color de fondo negro */
    font-family: sans-serif, Helvetica, Arial; /* Tipo de letra */
    font-size: 14px; /* Tamaño de la letra */
    box-shadow: 0px 0px 2px gray; /* Es el sombreado de la caja, es hacia afuera */
}

#nav ul { /* id=nav y en el elemento ul, la lista que esta negra */
    list-style: none; /* Lista desordenada */
    text-decoration: none; /* Sin ninguna decoraciion */
    margin: 0px auto; /* Para dejar el margen centrado */
    width: 65.9rem; /* La anchura de cada elemento de la barra de navegacion */
}

#nav>ul>li { /* De cada elemento de la lista */
    line-height: 40px; /* Lo que mide el texto de arriba hacia abajo  */
    float: left; /* Que los elementos sean flotantes a la izquierda para poderlos acomodar */
    transition: 300ms; /* Que hagan la transicion en 300ms */
}

#nav>ul>li a { /* Que cada elemento link se comporte  */
    display: block; /* Que se comporte como un bloque */
    padding-left: 20px; /* Espacio de las letras de la izquierda a la derecha */
    padding-right: 20px; /* Espacio de la derecha a la derecha */
    color: white; /* Que el color sea blanco */
    text-decoration: none; /* Sin ningun tipo de decoracion */
}

#nav>ul>li>a:first-child { /* Al primer elemento de los links les pongp una linea */
    border-left: 1px solid gray;
}

#navLast { /* Con un id le creo la ultima linea al ultimo link */
    border-right: 1px solid gray; /* Una linea al ultimo elemento */
}

#nav>ul>li:hover { /* Al pasarle al cada elemento de la lista */
    background-color: #70b231; /* Va a cambiar el color */
    box-shadow: 0px 0px 4px green inset; /* de adentro hacia la izquierda, dentro hacia arriba, espacio hacia afuera, verde y hacia dentro */
}

#navxD{ /* id de un elemento individual */
    width: 5.5rem; /* Asignacion de tamaño fijo */
}

#navxD1{ /* id de un elemento individual */
    width: 6.3rem; /* Asignacion de tamaño fijo */
}

/* MENU DESPPLEGABLE */
#nav>ul>li>ul { /* id=nav hasta el elemento ul */
    display: none; /* Para convertir el display en invisible */
    position: absolute; /* Que la posicion no se pueda mover, que sea absoluta en el espacio */
    box-shadow: 0px 0px 2px gray; /* La sombra del elemento va ser gris */
    z-index: 1; /* Que al sacarlo se quede hasta afuera */
    text-align: center; /* Que el texto este centrado */
}

#navxDD{ /* Nombre del elemento ul, solo le asigno tamaño a los elemento internos */
    width: 8.1rem !important; /* Al menu desplegable le asigno el tamaño del elemento #navxD */
}

#navxD11{ /* Tamaño del menu de donde se despliegan elementos */
    width: 8.9rem !important; /* Tamaño igual a la caja superior de arriba llamada  */
}

#nav>ul>li:hover>ul { /* Son las barras desplegables #navxD1 */
    display: block; /* Que se comporten como un bloque, para poder desplegar el elemento */
}

#nav>ul>li:hover>ul>li { /* En los enlaces desplegables */
    background-color: #F2F1F0; /* Fondo de los enlaces sea blanco */
    border-bottom: 1px solid #D6D6D6; /* Borde de elementos desplegables un poco grises */
    padding: 8px; /* Espacio del teto hacia afuera de los elementos laterales */
    line-height: 25px; /* Del top hacia abajo bajo el menu desplegable */
    font-size: 13px; /* Tamaño del texto */
    transition: all 300ms; /* Tiempo en el cual hago la transicion */
}

#nav>ul>li:hover>ul>li a {
    color: #666666; /* Color del texto de las etiquetas desplegables */
}

#nav>ul>li:hover>ul>li:hover { /* Pasando el mouse al menu desplegable */
    box-shadow: 0px 7px 6px #666565 inset; /* Sombrea, en el x0, y7, tamaño difuminado */
}

/* CONTENIDO */
#content { /* Es el recuadro donde viene en todo el contenido, con aside, formulario y demas, es el espacio total a ocupar */
    font-family: sans-serif, Arial, Heletica; /* Tipografia al id=content */
    width: 1250px; /* Anchura del elemento, donde va a ir todo el contenido colocado */
    min-width: 1100px; /* Anchura minima que necesta para trabajar */
    margin: 0 auto; /* Margen para poder centrar los elementos */
}

/* BARRA LATERAL */
aside, /* Va a la etiqueta aside, ambas del lado izquierdo, tambien va al elemento inferior */
#frases {
    width: 200px; /* Le asigno un tamaño */
    float: left; /* Que sea un flotante a la izquierda para poderlo acomodar */
    margin: 30px; /* Como es flotante le asignamos un tamaño para que quepa todo */
    background-color: white; /* El color de fondo de este elemento va a ser blanco */
    border: 1px solid #cccccc; /* Que el borde del eleento del lado izquierdo sea un poco gris */
    box-shadow: 4px 4px 4px #cccccc; /* Es la sombra de la caja, del aside del lado izquierdo */
    font-family: sans-serif, Arial, Helvetica; /* Es la tipografia del elemento */
}

#frases { /* Al side infeior */
    width: 170px; /* Redusco el tamaño del elemento */
    padding: 10px; /* Del texto hacia afura el tamaño */
    font-size: 14px; /* Tamaño de letra */
    font-family: sans-serif; /* Tipogriafia de letra */
}

#aside .widget { /* Estilo en la barra superior izuierda */
    display: block; /* Que este elemento se comporte como un bloque */
    width: 180px; /* Anchura del aside superior izquierdo */
    margin: 5px auto; /* Margen hacia abajo de cada elemenento y dejarlo centrado */
    padding: 8px; /* Espacio entre los subtitulos h3 y los botones hacia el inicio/final del espacio */
    padding-left: 10px; /* Espacio desde las letras izquierdas hacia la izquierda */
    padding-right: 10px; /* Espacio de las letras derechas hacia la derecha */
    font-size: 14px; /* Tamaño de texto */
    border-bottom: 1px dashed #333333; /* El borde que tiene este elemento */
    text-align: center; /* Alieamos el elemento a la mitad */
}

#aside .widget:last-child { /* Al elemento inferior, osea al border-boton */
    margin-bottom: 0.1px; /* Le voy a asignar un pequeño espacio hacia abajo */
}

#aside h3 { /* Dentro de la barra superior izquierda, en el elemento h3 */
    display: block; /* Que esto se comporte como un bloque */
    width: 100%; /* Que ocupe el ancho de 100% */
    color: #333333; /* Que el color del texto sea negro */
    text-align: center; /* Que el texto se mantenga centrado */
    padding-top: 2px; /* Del dondo del texto, se manrenga a la mitad mediante el padding rop */
    padding-bottom: 2px; /* Donde se mantiene el texto, hacerlo un poquito mas grande hacia abajo */
    margin-bottom: 15px; /* El espacio del h3(subtitulo hacia el label del usuario */
    background: #f2f3f2; /* Donde esta lo de entrar a la web nivel superior este color un poco gris */
    border: 1px solid #cccccc; /* Al borde del subtitulo, lo pongo un poco gris */
    border-left: none; /* Sin borde lado izquierdo */
    border-right: none; /* Sin borde lado derecho */
}

#aside li { /* En la barra superior izquierda, pero en el area de los enlaces */
    margin-top: 8px; /* Margen hacia arriba de cada elemento */
    margin-bottom: 5px; /* Margen inferior hacia abajo de cada elemento */
    text-align: center; /* Centramos el texto de los enlaces */
    list-style: none; /* Sin ningun tipo de estilo los enlaces */
}

/* FORMULARIOS BARRA LATERAL */
#aside div label, /* A todos los elementos dentro del aside, con estas clases y tipos */
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
    display: block; /* Que se comporten como bloques */
    width: 95%; /* La anchura de los elementos */
    margin-top: 2px; /* Distancia de los elementos hacia arriba */
    margin-bottom: 2px; /* Distancia de los elementos hacia abajo */
}

#aside div input[type="button"], /* Para los botones y submit */
#aside div input[type="submit"],
#aside div input {
    margin-top: 5px; /* Margen superior del boton */
    margin-bottom: 10px; /* Margen inferior del boton */
}

#aside input, /* Los elementos de escritura y etiquetas */
#aside label {
    margin: 0px auto; /* A la mitad, los botones */
    text-align: center; /* Texto centrado a la mitad */
}

/* SECCIONES */
#sections { /* Lo que va en medio */
    float: right; /* Seccion de noticias es el de en medio, osea que ponrse a la izquierda */
    width: 75%; /* Tamaño para no avanzar tener mas del 100 */
    font-family: sans-serif, Arial, Helvetica; /* La tipografia */
    margin-right: 20px; /* Espacio nre el primer secmento de izquierda a derecha el espacio entre ambos */
}

#sections .titulo { /* Titulo de hasta arriba en color negro */
    font-family: fajala; /* Tipo de letra */
    font-size: 24px; /* Tamaño del titulo */
    font-weight: normal; /* La tipografia normal, sin bold ni nada */
    letter-spacing: 1px; /* Espacio entre cada lera */
    text-align: center; /* Centramos el texto en medio */
    margin-top: -20px; /* Subimos poquito la seccion de noticias */
    padding-top: 20px; /* Bajamos poquito mas la seccion de noticias */
    padding-bottom: 10px; /* Espacio hacia abajo */
    border-bottom: 1px solid #cccccc; /* El borde que esta abajo de la seccion de noticias */
}

#sections section { /* De la seccion de noticias, donde inicia en medio */
    margin-top: 40px; /* Altura de arriba hacia abajo, */
    background-color: white; /* Color de fondo blanco */
    padding: 20px; /* Pading del titulo */
    border: 1px solid #cccccc; /* Borde de la seccion de noticias, para hacerlo una caja */
    box-shadow: 4px 4px 6px #c9c9c9; /* De la caja le damos un sombreado */
    color: #333333; /* Color del texto */
    font-size: 16px; /* Tamaño del texto dentro de la caja */
    overflow: hidden; /* Que no maneje ningun tipo de desplazamiento */
}

#sections .article { /* Es el texto, dentro de los articulos */
    margin: 10px; /* Margenes desde fuera hacaia adentro */
    margin-top: 20px; /* Espacio hacia a arriba de los articulos */
    margin-bottom: 20px; /* Espacio hacia abajo de los articulos */
}

#sections .date { /* Donde va la fecha */
    color: gray; /* El color es gris */
    font-size: 14px; /* Tamaño del texto */
}

#sections .stickerOne, /* En las etiquetas pegadas en los 3 elementos */
.stickerTwo {
    position: absolute; /* Esta es la referencia de la posicion */
    margin-top: -38px; /* Tamaño donde deben de ir, debido a la posicion absoluta y a repetir elementos */
    z-index: 0; /* Que se muestren atras para verlas transparentes */
}

#sections .stickerTwo { /* La segunda pegantina */
    margin-left: 860px; /* Lugar donde se mantiene a la derecha */
}

#history { /* Nuevo div, antes limpiamos todo, es un hypervinculo */
    float: right; /* Lo flotamos a la derecha */
    margin-top: 20px; /* Margen que mantiene hacia arriba */
    margin-right: 20px; /* Margen que mantiene de la derecha a la izquierda */
}

/* PIE DE PAGINA */
#footer { /* Al id footer */
    width: 100%; /* Que tenga un ancho del 100% */
    margin-top: 0px auto; /* Que se mantenga a la mitad el elemento */
    text-align: center; /* El texto centrado */
    margin-top: 40px; /* Margen de arriba hacia abajo, pero es el espacio lanco abajo del pie de pagina */
    background-color: #333333; /* Color de fondo */
    padding-top: 10px; /* De las letras hacia arriba espacio */
    padding-bottom: 10px; /* De las letras hacia abajo, esacio */
    color: white; /* El color de la duente */
    font-family: sans-serif; /* La tipografia */
    font-size: 14px; /* Tamaño de Texto */
    box-shadow: 0px 0px 2px gray; /* Vamos a ponerlo sombreado */
}