/* FUENTES */
@font-face { /* Importo las fuentes a utilizar */
    font-family: "nevis"; /* Tipo de fuente */
    src: url("fonts/nevis.eot"); /* url */
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"), url("fonts/nevis.woff") format("woff"), 
    url("fonts/nevis.ttf") format("truetype"), url("fonts/nevis.svg") format("svg");
    font-weight: normal; /* El tamaño de texto normal, sin negritas ni nada */
    font-style: normal; /* Que el estilo de la fuente sea normal */
}

@font-face {
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg') url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/websymbols-regular-webfont.woff") 
    format("woff"), url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ESTILOS GENERALES */
* { /* A todo el elemento */
    padding: 0; /* Que no haya espacio hacia arriba ni nada */
    margin: 0; /* Que no haya espacio hacia arriba ni nada */
}

body { /* A todo el cuerpo del elemento */
    background-image: url("./../img/paven.png"); /* Ponrle un fondo a la pagina */
}

a { /* Enlaces globales a todos los enlaces */
    color: #529125; /* Color del texto */
    text-decoration: none; /* Sin nigun tipo de decoracion */
}

a:visited { /* Cuando sean visitados que cambien a este color */
    color: #529125;
}

a:hover { /* Cuando les pasemos el cursor cambien un poco de color */
    color: #285616; /* Color un poco mas verde/gris */
}

.red { /* Defino esta clase */
    color: #9b2422 !important;
}

.blue { /* Defino esta clase */
    color: #0c73f2 !important;
}

.orange { /* Defino esta clase */
    color: #d69d2a !important;
}

.icon { /* Esta clase la traemos desde las fuentes */
    font-family: icons; /* El tipo de familia de esta letra */
    float: left; /* Que se flote a la izquierda */
    margin-right: 5px; /* Margen que pongo de izquierda a derecha */
    margin-top: -2px; /* Que este un poco mas arriba el icono */
}

.clearfix { /* Limpoamos los flotantes */
    float: none; /* Que no haya nada flotando */
    clear: both; /* Limpia ambos */
}

/* FORMULARIOS */
input[type="text"], /* A todos estos campos */
input[type="email"],
input[type="password"],
select {
    border: 1px solid #c9c9c9; /* Asigno este borde suave */
    box-shadow: 0px 0px 2px inset; /* Lo ponemos un poco mas sombreado */
    background: white; /* Que el fondo dentro sea color blanco */
    padding: 1px; /* La anchura de este elemento de adentro hacia afuera-puedo eliminarla */
    padding-top: 2px; /* El espacio hacia arriba de cada elemento */
    padding-bottom: 2px; /* El espacio hacia abajo de este elemento */
    color: gray; /* El color de estos elementos es gris */
    transition: all 300ms; /* Haz la transicion en este tiempo */
}

input[type="text"]:focus, /* Esto es como un margen hacia adentro cuando elijo cualquier elemento */
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 1px solid #70b231; /* Borde hacia adentro de cada elemento input */
    color: black; /* Color del texto dentro del input */
}

input[type="button"], /* A todos los elementos de este tipo */
input[type="submit"],
input[type="reset"],
button {
    display: block; /* Que los botones se comporten como un bloque */
    border-radius: 2px; /* Que estos elementos tengan un borde redondeado minumamente */
    border: 1px solid green; /* Que los bordes de cada elemento tengan esto */
    width: 60px; /* Anchura de los botones */
    padding: 3px; /* El espacio del elemento letra de adentro hacia afuera espacio */
    color: white; /* Que su color sea blanco */
    background-color: #70b231; /* Que tengan este fondo */
    cursor: pointer; /* Que al pasar el cursor salga una manita */
}

input[type="button"]:hover, /* Al pasarle por encima al elemento */
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    box-shadow: 0px 0px 2px gray; /* Que se haga un pequeño sombreado hacia afuera */
}

input[type="button"]:active, /* Cuando le deje apretado */
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0px 0px 3px inset; /* Una sombra de la caja interior, de afuera hacia adentro */
    text-shadow: 0px 0px 0px #cccccc; /* Que tome un color blanco el texto, sombreado */
}

/* CABECERA */
#header { /* A donde tengo el logotipo */
    min-width: 1024px; /* Anchura del elemento maxima */
    width: 100%; /* Anchura del 100% */
    height: 250px; /* Lo que mide de altura */
    margin: 0 auto; /* Sin margenes */
}

#header a { /* Elemento a del logo */
    text-decoration: none; /* Sin ningun tipo de decoracion */
}

#header #logotipo { /* En el header, al id logotipo */
    width: 770px; /* Una anchura del elemento */
    margin: 0px auto; /* Que no tenga ningun margen y auto para dejarlo enmedio */
    padding-top: 20px; /* Margen superior */
}

#header #logotipo img { /* Al elemeto img */
    display: block; /* Que se comporte como un bloque */
    text-align: center; /* Que su texto este centrado puedo/eliminar */
    margin: 0 auto; /* Para centrar el elemento */
    width: 140px; /* Anchura del elemento */
}

#header h1 { /* id=header, a la etiqueta h1 */
    text-align: center; /* Centramos el texto */
    font-size: 40px; /* Tamaño del texto */
    font-family: "nevis"; /* Camiamos la fuente del texto */
    text-transform: uppercase; /* Que este en mayusculas */
    letter-spacing: 4px; /* Espacio entre cada letra */
    margin-top: 10px; /* Espacio que dejamos del h1 de arriba hacia abajo */
    text-shadow: 0px 2px 1px #333333; /* Sombreado a la derecha/abajo/difuminado:hover */
    transition: all 300ms; /* El tiempo en el cual se hace la ransicion */
}

#header h1:hover { /* id=header, de los elementos h2. al pasarle el mouse */
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231; /* Sombra derecha/abajo/arriba, color, sombra derecha/abajo/difuminado, color */
}

#header h1 a { /* Tipo Baner y el color del elemento */
    color: #70b231; /* Color del elemento */
}

/* BARRA DE NAVEGACION */
#nav { /* id nav */
    width: 100%; /* Que la linea negra mida un 100% del ancho */
    height: 40px; /* Tamaño de la linea */
    background-color: #333333; /* Color de fondo negro */
    /* color: white; */ /* Color blanco */
    font-family: sans-serif, Helvetica, Arial; /* Tipo de letra */
    font-size: 14px; /* Tamaño de la letra */
    box-shadow: 0px 0px 2px gray; /* Es el sombreado de la caja, es hacia afuera */
}

#nav ul { /* id=nav y en el elemento ul, la lista que esta negra */
    list-style: none; /* Lista desordenada */
    text-decoration: none; /* Sin ninguna decoraciion */
    margin: 0px auto; /* Para dejar el margen centrado */
    width: 65.9rem; /* La anchura de cada elemento de la barra de navegacion */
}

#nav>ul>li { /* De cada elemento de la lista */
    line-height: 40px; /* Lo que mide el texto de arriba hacia abajo  */
    float: left; /* Que los elementos sean flotantes a la izquierda para poderlos acomodar */
    transition: 300ms; /* Que hagan la transicion en 300ms */
}

#nav>ul>li a { /* Que cada elemento link se comporte  */
    display: block; /* Que se comporte como un bloque */
    padding-left: 20px; /* Espacio de las letras de la izquierda a la derecha */
    padding-right: 20px; /* Espacio de la derecha a la derecha */
    color: white; /* Que el color sea blanco */
    text-decoration: none; /* Sin ningun tipo de decoracion */
}

#nav>ul>li>a:first-child { /* Al primer elemento de los links les pongp una linea */
    border-left: 1px solid gray;
}

#navLast { /* Con un id le creo la ultima linea al ultimo link */
    border-right: 1px solid gray; /* Una linea al ultimo elemento */
}

#nav>ul>li:hover { /* Al pasarle al cada elemento de la lista */
    background-color: #70b231; /* Va a cambiar el color */
    box-shadow: 0px 0px 4px green inset; /* de adentro hacia la izquierda, dentro hacia arriba, espacio hacia afuera, verde y hacia dentro */
}

#navxD{ /* id de un elemento individual */
    width: 5.5rem; /* Asignacion de tamaño fijo */
}

#navxD1{ /* id de un elemento individual */
    width: 6.3rem; /* Asignacion de tamaño fijo */
}

/* MENU DESPPLEGABLE */
#nav>ul>li>ul { /* id=nav hasta el elemento ul */
    display: none; /* Para convertir el display en invisible */
    position: absolute; /* Que la posicion no se pueda mover, que sea absoluta en el espacio */
    box-shadow: 0px 0px 2px gray; /* La sombra del elemento va ser gris */
    z-index: 1; /* Que al sacarlo se quede hasta afuera */
    text-align: center; /* Que el texto este centrado */
}

#navxDD{ /*  De un ul, le asigno estas caracteristicas a estos elementos*/
    width: 8.1rem !important; /* Tamaño fijo como su caja superior */
}

#navxD11{ /* Al igual al menu desplegable */
    width: 8.9rem !important; /* Le asigno estas caracteristicas */
}

#nav>ul>li:hover>ul {
    display: block;
}

#nav>ul>li:hover>ul>li {
    background-color: #F2F1F0;
    border-bottom: 1px solid #D6D6D6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

#nav>ul>li:hover>ul>li a {
    color: #666666;
}

#nav>ul>li:hover>ul>li:hover {
    box-shadow: 0px 7px 6px #666565 inset;
    /* background: #cccccc; */
}


/* CONTENIDO */

#content {
    font-family: sans-serif, Arial, Heletica;
    width: 1250px;
    min-width: 1100px;
    margin: 0px auto;
}


/* BARRA LATERAL */

aside,
#frases {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px #cccccc;
    font-family: sans-serif, Arial, Helvetica;
}

#frases {
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
    text-align: center;
}

#aside .widget:last-child {
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    width: 100%;
    color: #333333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background: #f2f3f2;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: none;
}


/* FORMULARIOS BARRA LATERAL */

#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div input {
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside input,
#aside label {
    margin: 0px auto;
    text-align: center;
}


/* SECCIONES */

#sections {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections .titulo {
    font-family: fajala;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

#sections section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    color: #333333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {
    color: gray;
    font-size: 14px;
}

#sections .stickerOne,
.stickerTwo {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .stickerTwo {
    margin-left: 860px;
}

#history {
    float: right;
    margin: 20px;
    margin-right: 20px;
}


/* PIE DE PAGINA */

#footer {
    width: 100%;
    margin-top: 0px auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}